<nz-layout>
  <nz-header style="height: 8vh;background: deepskyblue">
    <div style="width: 100%;text-align: center;height: 8vh;line-height: 8vh;">
      <span class="robot_name">{{robotName}}</span>
    </div>

  </nz-header>

  <nz-content style="height: 84vh;background: white;">

  </nz-content>
  <nz-footer style="height: 8vh;padding: 0px;">
    <div style="display: flex;height: 8vh;line-height: 8vh;">
      <input class="text" nz-input placeholder="输入你想说的内容..." [(ngModel)]="value">
      <button class="btn_send" nz-button nzType="primary" (click)="send()" [nzLoading]="isLoading">
        <i nz-icon type="left-circle" theme="twotone"></i>发送
      </button>
    </div>
  </nz-footer>
</nz-layout>
