<nz-layout>
  <nz-header style="height: 8vh;background: deepskyblue">
    <div style="width: 100%;text-align: center;height: 8vh;line-height: 8vh;">
      <span class="robot_name">{{robotName}}</span>
    </div>

  </nz-header>

  <nz-content style="height: 84vh;background: bisque;">
    <div class="content">
      <div class="box" *ngFor="let message of infos">
        <div *ngIf="message.type == 1" class="message_left">
          <nz-avatar nzSize="large" nzIcon="anticon anticon-user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
          <span class="info info_left">{{message.text}}</span>
        </div>
        <div *ngIf="message.type == 2" class="message_right">
          <span class="info info_right">{{message.text}}</span>
          <nz-avatar nzSize="large" nzIcon="anticon anticon-user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer style="height: 8vh;padding: 0px;">
    <div style="display: flex;height: 8vh;line-height: 8vh;">
      <input class="text" nz-input placeholder="输入你想说的内容..." [(ngModel)]="text" (keyup.enter)="send()">
      <button class="btn_send" nz-button nzType="primary" (click)="send()" [nzLoading]="isLoading">
        <i nz-icon type="left-circle" theme="twotone"></i>发送
      </button>
    </div>
  </nz-footer>
</nz-layout>
